.tab {
  display: flex;
  width: 8rem;
  height: 8rem;
  color: #808080;
  font-size: 2.8rem;
  justify-content: center;
  align-items: center;
}

.tab:hover {
  background: #efefef;
}

.active {
  background: #dedede;
  color: #404040;
}

.active:hover {
  background: #dedede;
}
